@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin widthLimit{
  max-width: 1400px;
  min-width: 960px;
}
@mixin contentWidth{
  @include widthLimit;
  display: flex;
  flex: 1;
}
