@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin widthLimit($times){
  max-width: 1400px * $times;
  min-width: 960px * $times;
}
@mixin contentWidth{
  @include widthLimit(1);
  display: flex;
  flex: 1;
}
